@import "tailwindcss";

  
  .center-content {
    display: flex;
    align-items: center;
  }
  
  .wrapper {
    width: 100%;
    color: white;
    font-size: 4rem;
  }
  
 
  .marquee-text {
    overflow: clip;
  }
  
  .marquee-text-track {
    /* min-height: 100dvh; */
    display: flex;
    padding-left: 4.8rem;
    gap: 1.8rem;
    /* width: max-content; */
    animation: marquee-move-text var(--speed, 6s) linear infinite
      var(--direction, forwards);
  }
  
  .marquee-text p {
    border: 1px solid white;
    background-color: #141414;
    border-radius: 999px;
    padding: 1rem 2.5rem;
  }
  
  @keyframes marquee-move-text {
    to {
      transform: translateX(-250%);
    }
  }
  
  
  @media screen and (min-width: 768px) {
    @keyframes marquee-move-text {
      to {
        transform: translateX(-100%);
      }
      
    }
    
  }